@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

* {
    font: xx-large;

}

body {
    font-family: 'Lalezar', cursive;
    margin: 4px;
    text-align: center;
    background-color: rgb(231, 225, 231);
}

button {

    display: block;
    margin: 1rem auto;
    width: 25vw;
    padding: 6rem 0;
    background-color: blueviolet;
    border: blueviolet;
    border-radius: 10px;
}

table {
    border: 2px solid #999;
    table-layout: fixed;
    background-color: white;
    border: blueviolet;
    border-collapse: collapse;

}

tr {
    text-align: center;
}